.CardBody {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 25px;

  /* border: 1px solid green; */
  & h1 {
    margin: 0px 0px 20px 0px;
    font-size: 38px;
    font-weight: 700;
    color: var(--darkSlateGrey);
  }

  & p {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
    font-weight: 400;
    color: var(--darkSlateGrey);
  }
}

@media (min-width: 980px) {
  .CardBody {
    padding: 45px;
    max-width: 460px;
    margin-right: 20px;

    & h1 {
      font-size: 54px;
    }
  }
}
